# =========================
# Java & Maven
# =========================
target/
*.class
*.log
*.ctxt
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven status
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper-downloader.properties

# =========================
# IDEs y Editores
# =========================

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# =========================
# SO (Windows, macOS, Linux)
# =========================
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
